In [1]:
import zipfile
import os
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import boto3
import pandas as pd
from io import BytesIO
from io import StringIO
import seaborn as sns
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

In [2]:
# Initialize S3 client
s3 = boto3.client('s3')

# Function to load data 
bucket_name = 'ml-stack-759578648427-us-west-2'

def from_s3(bucket_name, file_name):
    response = s3.get_object(Bucket=bucket_name, Key=file_name)
    ext = os.path.splitext(file_name)[1]
    if ext == '.gz':
        data = pd.read_csv(BytesIO(response['Body'].read()), compression='gzip')
    elif ext == '.csv':
        data = pd.read_csv(BytesIO(response['Body'].read()))
    else:
        data = pd.read_excel(BytesIO(response['Body'].read()), sheet_name='DX_to_CCSR_Mapping', header=1)
    return data

# Import Labeled Data

In [12]:
file_name = 'final_microbiology_df.csv.gz'
df = from_s3(bucket_name, file_name) 
df['charttime'] = pd.to_datetime(df['charttime'])
subjects = df['subject_id'].unique()
df.head()

,subject_id,hadm_id,org_name,ab_name,charttime,interpretation,susceptible_flag
0,10000826,20032235.000,ESCHERICHIA COLI,AMPICILLIN,2146-12-08 22:22:00,S,1.000
1,10000826,20032235.000,ESCHERICHIA COLI,AMPICILLIN/SULBACTAM,2146-12-08 22:22:00,S,1.000
2,10000826,20032235.000,ESCHERICHIA COLI,CEFAZOLIN,2146-12-08 22:22:00,S,1.000
3,10000826,20032235.000,ESCHERICHIA COLI,CEFEPIME,2146-12-08 22:22:00,S,1.000
4,10000826,20032235.000,ESCHERICHIA COLI,CEFTAZIDIME,2146-12-08 22:22:00,S,1.000

In [62]:
# final pairs 
pairs = [('ESCHERICHIA COLI', 'AMPICILLIN'),
 ('ESCHERICHIA COLI', 'AMPICILLIN/SULBACTAM'),
 ('ESCHERICHIA COLI', 'CEFAZOLIN'),
 ('ESCHERICHIA COLI', 'CEFEPIME'),
 ('ESCHERICHIA COLI', 'CEFTAZIDIME'),
 ('ESCHERICHIA COLI', 'CEFTRIAXONE'),
 ('ESCHERICHIA COLI', 'CIPROFLOXACIN'),
 ('ESCHERICHIA COLI', 'GENTAMICIN'),
 ('ESCHERICHIA COLI', 'MEROPENEM'),
 ('ESCHERICHIA COLI', 'NITROFURANTOIN'),
 ('ESCHERICHIA COLI', 'TOBRAMYCIN'),
 ('ESCHERICHIA COLI', 'TRIMETHOPRIM/SULFA'),
 ('PSEUDOMONAS AERUGINOSA', 'CEFEPIME'),
 ('PSEUDOMONAS AERUGINOSA', 'CEFTAZIDIME'),
 ('PSEUDOMONAS AERUGINOSA', 'CIPROFLOXACIN'),
 ('PSEUDOMONAS AERUGINOSA', 'GENTAMICIN'),
 ('PSEUDOMONAS AERUGINOSA', 'MEROPENEM'),
 ('PSEUDOMONAS AERUGINOSA', 'PIPERACILLIN/TAZO'),
 ('PSEUDOMONAS AERUGINOSA', 'TOBRAMYCIN'),
 ('ESCHERICHIA COLI', 'PIPERACILLIN/TAZO'),
 ('KLEBSIELLA PNEUMONIAE', 'AMPICILLIN/SULBACTAM'),
 ('KLEBSIELLA PNEUMONIAE', 'CEFAZOLIN'),
 ('KLEBSIELLA PNEUMONIAE', 'CEFEPIME'),
 ('KLEBSIELLA PNEUMONIAE', 'CEFTAZIDIME'),
 ('KLEBSIELLA PNEUMONIAE', 'CEFTRIAXONE'),
 ('KLEBSIELLA PNEUMONIAE', 'CIPROFLOXACIN'),
 ('KLEBSIELLA PNEUMONIAE', 'GENTAMICIN'),
 ('KLEBSIELLA PNEUMONIAE', 'MEROPENEM'),
 ('KLEBSIELLA PNEUMONIAE', 'NITROFURANTOIN'),
 ('KLEBSIELLA PNEUMONIAE', 'PIPERACILLIN/TAZO'),
 ('KLEBSIELLA PNEUMONIAE', 'TOBRAMYCIN'),
 ('KLEBSIELLA PNEUMONIAE', 'TRIMETHOPRIM/SULFA')]

df = df[df[['org_name', 'ab_name']].apply(tuple, axis=1).isin(pairs)]

# Majority Classifier - Baseline Metrics

In [63]:
# get unique org & ab combos 
org_ab_label = df[['org_name', 'ab_name']].drop_duplicates()

In [65]:
# for each label calculate metrics for majority classifier 
baselines = []

for index, row in org_ab_label.iterrows():
    org = f"{row.org_name}"
    ab = f"{row.ab_name}"
    sub = df.query(f"org_name == '{org}' & ab_name == '{ab}'")
    y_true = sub.susceptible_flag 

    if (y_true.sum() / len(y_true)) > 0.5:
        maj_class = 1
    else:
        maj_class = 0
    
    y_pred = [maj_class] * len(y_true)
    
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    accuracy = accuracy_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)

    metrics = {'bacteria':org, 'antibiotic':ab, 'accuracy':accuracy, 'precision':precision, 'recall':recall, 'f1_score':f1}
    baselines.append(metrics)

/opt/conda/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [66]:
baseline_results = pd.DataFrame(baselines)
baseline_results

,bacteria,antibiotic,accuracy,precision,recall,f1_score
0,ESCHERICHIA COLI,AMPICILLIN,0.504,0.504,1.000,0.670
1,ESCHERICHIA COLI,AMPICILLIN/SULBACTAM,0.611,0.611,1.000,0.759
2,ESCHERICHIA COLI,CEFAZOLIN,0.806,0.806,1.000,0.892
3,ESCHERICHIA COLI,CEFEPIME,0.915,0.915,1.000,0.956
4,ESCHERICHIA COLI,CEFTAZIDIME,0.921,0.921,1.000,0.959
5,ESCHERICHIA COLI,CEFTRIAXONE,0.883,0.883,1.000,0.938
6,ESCHERICHIA COLI,CIPROFLOXACIN,0.732,0.732,1.000,0.846
7,ESCHERICHIA COLI,GENTAMICIN,0.897,0.897,1.000,0.946
8,ESCHERICHIA COLI,MEROPENEM,0.999,0.999,1.000,0.999
9,ESCHERICHIA COLI,NITROFURANTOIN,0.957,0.957,1.000,0.978
10,ESCHERICHIA COLI,PIPERACILLIN/TAZO,0.986,0.986,1.000,0.993
11,ESCHERICHIA COLI,TOBRAMYCIN,0.901,0.901,1.000,0.948
12,ESCHERICHIA COLI,TRIMETHOPRIM/SULFA,0.726,0.726,1.000,0.841
13,KLEBSIELLA PNEUMONIAE,AMPICILLIN/SULBACTAM,0.771,0.771,1.000,0.871
14,KLEBSIELLA PNEUMONIAE,CEFAZOLIN,0.834,0.834,1.000,0.909
15,KLEBSIELLA PNEUMONIAE,CEFEPIME,0.893,0.893,1.000,0.943
16,KLEBSIELLA PNEUMONIAE,CEFTAZIDIME,0.880,0.880,1.000,0.936
17,KLEBSIELLA PNEUMONIAE,CEFTRIAXONE,0.868,0.868,1.000,0.929
18,KLEBSIELLA PNEUMONIAE,CIPROFLOXACIN,0.863,0.863,1.000,0.927
19,KLEBSIELLA PNEUMONIAE,GENTAMICIN,0.926,0.926,1.000,0.962
20,KLEBSIELLA PNEUMONIAE,MEROPENEM,0.993,0.993,1.000,0.996
21,KLEBSIELLA PNEUMONIAE,NITROFURANTOIN,0.687,0.000,0.000,0.000
22,KLEBSIELLA PNEUMONIAE,PIPERACILLIN/TAZO,0.952,0.952,1.000,0.975
23,KLEBSIELLA PNEUMONIAE,TOBRAMYCIN,0.898,0.898,1.000,0.946
24,KLEBSIELLA PNEUMONIAE,TRIMETHOPRIM/SULFA,0.845,0.845,1.000,0.916
25,PSEUDOMONAS AERUGINOSA,CEFEPIME,0.859,0.859,1.000,0.924
26,PSEUDOMONAS AERUGINOSA,CEFTAZIDIME,0.847,0.847,1.000,0.917
27,PSEUDOMONAS AERUGINOSA,CIPROFLOXACIN,0.733,0.733,1.000,0.846
28,PSEUDOMONAS AERUGINOSA,GENTAMICIN,0.858,0.858,1.000,0.924
29,PSEUDOMONAS AERUGINOSA,MEROPENEM,0.826,0.826,1.000,0.904
30,PSEUDOMONAS AERUGINOSA,PIPERACILLIN/TAZO,0.871,0.871,1.000,0.931
31,PSEUDOMONAS AERUGINOSA,TOBRAMYCIN,0.913,0.913,1.000,0.955

# Features

In [3]:
file_name = 'MIMIC/Cleaned/df_omr_pt_ad_diag_proc_pr.csv'
feat = from_s3(bucket_name, file_name)
feat.head()

,subject_id,charttime,Height (Inches),Weight (Lbs),bp_systolic,bp_diastolic,gender,anchor_age,insurance,language,...,V03AC,V03AE,V03AF,V03AX,V04CC,V04CF,V04CG,V04CK,V06DC,V07AB
0,10000826,2146-12-08 22:22:00,63.786,166.608,116.368,73.125,F,32,Private,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,10000898,2187-09-26 08:00:00,62.251,162.011,126.000,76.000,F,79,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,10001122,2142-04-08 10:48:00,62.926,170.767,131.007,72.597,F,70,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,10001401,2133-12-15 11:04:00,65.450,167.941,146.537,60.630,F,91,Medicare,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,10001401,2134-10-09 13:45:00,65.500,168.283,146.155,60.552,F,92,Medicare,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [7]:
pd.options.display.max_seq_items = 4000

In [28]:
df[df.subject_id == 10001401][['subject_id', 'org_name', 'ab_name', 'charttime','susceptible_flag']].head(1)

,subject_id,org_name,ab_name,charttime,susceptible_flag
52,10001401,ENTEROCOCCUS FAECALIS,AMPICILLIN,2134-10-09 13:45:00,1.000

In [ ]:
ex.loc[:, ex.gt(0).all()]

In [32]:
ex = feat[feat.subject_id == 10001401]
ex = ex[ex.charttime == '2134-10-09 13:45:00']

In [38]:
ex.subject_id = ex.subject_id.astype(str)

In [44]:
pd.concat([ex.select_dtypes(include=['object']), num.loc[:, num.gt(0).all()]], axis=1)

,subject_id,charttime,gender,insurance,language,marital_status,race,Height (Inches),Weight (Lbs),bp_systolic,...,M01AE,N01BB,N02AA,N02BE,N05BA,N05CH,P01AB,PR_99,R03AC,R03AL
4,10001401,2134-10-09 13:45:00,F,Medicare,English,MARRIED,WHITE,65.500,168.283,146.155,...,1.000,5.000,12.000,13.000,8.000,1.000,1.000,98.000,3.000,1.000

In [43]:
num = ex.select_dtypes(include=['number'])
num.loc[:, num.gt(0).all()]

,Height (Inches),Weight (Lbs),bp_systolic,bp_diastolic,anchor_age,BLD001,BLD003,BLD004,BLD007,CIR007,...,M01AE,N01BB,N02AA,N02BE,N05BA,N05CH,P01AB,PR_99,R03AC,R03AL
4,65.500,168.283,146.155,60.552,92,1.000,1.000,2.000,1.000,6.000,...,1.000,5.000,12.000,13.000,8.000,1.000,1.000,98.000,3.000,1.000

In [24]:
feat.dropna().head()

,subject_id,charttime,Height (Inches),Weight (Lbs),bp_systolic,bp_diastolic,gender,anchor_age,insurance,language,...,V03AC,V03AE,V03AF,V03AX,V04CC,V04CF,V04CG,V04CK,V06DC,V07AB
3,10001401,2133-12-15 11:04:00,65.450,167.941,146.537,60.630,F,91,Medicare,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,10001401,2134-10-09 13:45:00,65.500,168.283,146.155,60.552,F,92,Medicare,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
5,10001401,2135-09-20 13:04:00,65.542,168.566,146.350,60.567,F,93,Medicare,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6,10001725,2116-10-25 13:07:00,62.201,158.384,119.786,74.410,F,52,Private,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
7,10001725,2118-11-26 11:05:00,62.201,158.476,120.703,74.785,F,54,Private,English,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [8]:
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 0],
    'B': [-1, -2, -3, -4],
    'C': [4, 5, 6, 7],
    'D': ['foo', 'bar', 'baz', 'qux']  # Non-numeric column
}

df = pd.DataFrame(data)

# Select only numeric columns
numeric_cols = df.select_dtypes(include=['number'])

# Filter numeric columns to keep only values greater than 0
filtered_df = numeric_cols[numeric_cols > 0]

# Display the filtered DataFrame
print(filtered_df)

Index(['subject_id', 'charttime', 'Height (Inches)', 'Weight (Lbs)',
       'bp_systolic', 'bp_diastolic', 'gender', 'anchor_age', 'insurance',
       'language', 'marital_status', 'race', '99', 'BLD001', 'BLD002',
       'BLD003', 'BLD004', 'BLD005', 'BLD006', 'BLD007', 'BLD008', 'BLD009',
       'BLD010', 'CIR001', 'CIR002', 'CIR003', 'CIR004', 'CIR005', 'CIR006',
       'CIR007', 'CIR008', 'CIR009', 'CIR010', 'CIR011', 'CIR012', 'CIR013',
       'CIR014', 'CIR015', 'CIR016', 'CIR017', 'CIR018', 'CIR019', 'CIR020',
       'CIR021', 'CIR022', 'CIR023', 'CIR024', 'CIR025', 'CIR026', 'CIR027',
       'CIR028', 'CIR029', 'CIR030', 'CIR031', 'CIR032', 'CIR033', 'CIR034',
       'CIR035', 'CIR036', 'CIR037', 'CIR038', 'CIR039', 'DEN001', 'DEN002',
       'DEN003', 'DIG001', 'DIG002', 'DIG003', 'DIG004', 'DIG005', 'DIG006',
       'DIG007', 'DIG008', 'DIG009', 'DIG010', 'DIG011', 'DIG012', 'DIG013',
       'DIG014', 'DIG015', 'DIG016', 'DIG017', 'DIG018', 'DIG019', 'DIG020',
       'DIG021', 'DIG022', 'DIG023', 'DIG024', 'DIG025', 'EAR001', 'EAR002',
       'EAR003', 'EAR004', 'EAR005', 'EAR006', 'END001', 'END002', 'END003',
       'END004', 'END005', 'END006', 'END007', 'END008', 'END009', 'END010',
       'END011', 'END012', 'END013', 'END014', 'END015', 'END016', 'END017',
       'EXT001', 'EXT002', 'EXT003', 'EXT004', 'EXT005', 'EXT006', 'EXT007',
       'EXT008', 'EXT009', 'EXT010', 'EXT011', 'EXT012', 'EXT013', 'EXT014',
       'EXT015', 'EXT016', 'EXT017', 'EXT018', 'EXT019', 'EXT020', 'EXT021',
       'EXT022', 'EXT023', 'EXT024', 'EXT025', 'EXT026', 'EXT027', 'EXT028',
       'EXT029', 'EXT030', 'EYE001', 'EYE002', 'EYE003', 'EYE004', 'EYE005',
       'EYE006', 'EYE007', 'EYE008', 'EYE009', 'EYE010', 'EYE011', 'EYE012',
       'FAC001', 'FAC002', 'FAC003', 'FAC004', 'FAC005', 'FAC006', 'FAC008',
       'FAC009', 'FAC010', 'FAC012', 'FAC013', 'FAC014', 'FAC015', 'FAC016',
       'FAC017', 'FAC019', 'FAC020', 'FAC022', 'FAC023', 'FAC024', 'FAC025',
       'FAC026', 'FAC027', 'FAC028', 'FAC029', 'FAC030', 'GEN001', 'GEN002',
       'GEN003', 'GEN004', 'GEN005', 'GEN006', 'GEN007', 'GEN008', 'GEN009',
       'GEN010', 'GEN011', 'GEN012', 'GEN013', 'GEN014', 'GEN015', 'GEN016',
       'GEN017', 'GEN018', 'GEN019', 'GEN020', 'GEN021', 'GEN022', 'GEN023',
       'GEN024', 'GEN025', 'GEN026', 'INF001', 'INF002', 'INF003', 'INF004',
       'INF005', 'INF006', 'INF007', 'INF008', 'INF009', 'INF010', 'INF011',
       'INF012', 'INJ001', 'INJ002', 'INJ003', 'INJ004', 'INJ005', 'INJ006',
       'INJ007', 'INJ008', 'INJ009', 'INJ010', 'INJ011', 'INJ012', 'INJ013',
       'INJ014', 'INJ015', 'INJ016', 'INJ017', 'INJ018', 'INJ019', 'INJ020',
       'INJ021', 'INJ022', 'INJ023', 'INJ024', 'INJ025', 'INJ026', 'INJ027',
       'INJ028', 'INJ029', 'INJ030', 'INJ031', 'INJ032', 'INJ033', 'INJ034',
       'INJ035', 'INJ036', 'INJ037', 'INJ038', 'INJ039', 'INJ040', 'INJ041',
       'INJ042', 'INJ043', 'INJ044', 'INJ045', 'INJ046', 'INJ047', 'INJ048',
       'INJ049', 'INJ050', 'INJ054', 'INJ055', 'INJ056', 'INJ057', 'INJ059',
       'INJ060', 'INJ061', 'INJ062', 'INJ063', 'INJ064', 'INJ065', 'INJ066',
       'INJ067', 'INJ069', 'INJ070', 'INJ071', 'INJ072', 'INJ073', 'INJ074',
       'INJ075', 'INJ076', 'MAL001', 'MAL002', 'MAL003', 'MAL004', 'MAL005',
       'MAL006', 'MAL007', 'MAL008', 'MAL009', 'MAL010', 'MBD001', 'MBD002',
       'MBD003', 'MBD004', 'MBD005', 'MBD006', 'MBD007', 'MBD008', 'MBD009',
       'MBD010', 'MBD011', 'MBD012', 'MBD013', 'MBD014', 'MBD017', 'MBD018',
       'MBD019', 'MBD020', 'MBD021', 'MBD022', 'MBD023', 'MBD024', 'MBD025',
       'MBD026', 'MBD027', 'MBD028', 'MBD032', 'MBD034', 'MUS001', 'MUS002',
       'MUS003', 'MUS004', 'MUS005', 'MUS006', 'MUS007', 'MUS008', 'MUS009',
       'MUS010', 'MUS011', 'MUS012', 'MUS013', 'MUS014', 'MUS015', 'MUS016',
       'MUS017', 'MUS020', 'MUS021', 'MUS022', 'MUS023', 'MUS024', 'MUS025',
       'MUS026', 'MUS027', 'MUS028', 'MUS029', 'MUS030', 'MUS031', 'MUS032',
       'MUS033', 'MUS034', 'MUS035', 'MUS036', 'MUS037', 'MUS038', 'NEO001',
       'NEO002', 'NEO003', 'NEO004', 'NEO005', 'NEO006', 'NEO007', 'NEO008',
       'NEO009', 'NEO010', 'NEO011', 'NEO012', 'NEO013', 'NEO014', 'NEO015',
       'NEO016', 'NEO017', 'NEO018', 'NEO019', 'NEO020', 'NEO021', 'NEO022',
       'NEO023', 'NEO024', 'NEO025', 'NEO026', 'NEO027', 'NEO028', 'NEO029',
       'NEO030', 'NEO031', 'NEO032', 'NEO033', 'NEO034', 'NEO035', 'NEO036',
       'NEO037', 'NEO038', 'NEO039', 'NEO040', 'NEO041', 'NEO042', 'NEO043',
       'NEO044', 'NEO045', 'NEO046', 'NEO047', 'NEO048', 'NEO049', 'NEO050',
       'NEO051', 'NEO052', 'NEO054', 'NEO056', 'NEO057', 'NEO058', 'NEO059',
       'NEO060', 'NEO061', 'NEO062', 'NEO063', 'NEO064', 'NEO065', 'NEO066',
       'NEO067', 'NEO068', 'NEO069', 'NEO070', 'NEO071', 'NEO072', 'NEO073',
       'NEO074', 'NEO075', 'NEO078', 'NVS001', 'NVS002', 'NVS003', 'NVS004',
       'NVS005', 'NVS006', 'NVS007', 'NVS008', 'NVS009', 'NVS010', 'NVS011',
       'NVS012', 'NVS013', 'NVS014', 'NVS015', 'NVS016', 'NVS017', 'NVS018',
       'NVS019', 'NVS020', 'NVS021', 'NVS022', 'PNL004', 'PNL006', 'PNL009',
       'PNL010', 'PNL013', 'PNL015', 'PRG002', 'PRG003', 'PRG004', 'PRG005',
       'PRG006', 'PRG007', 'PRG008', 'PRG009', 'PRG010', 'PRG011', 'PRG012',
       'PRG013', 'PRG014', 'PRG015', 'PRG016', 'PRG017', 'PRG018', 'PRG019',
       'PRG020', 'PRG021', 'PRG022', 'PRG023', 'PRG024', 'PRG025', 'PRG026',
       'PRG027', 'PRG028', 'PRG029', 'PRG030', 'RSP001', 'RSP002', 'RSP003',
       'RSP004', 'RSP005', 'RSP006', 'RSP007', 'RSP008', 'RSP009', 'RSP010',
       'RSP011', 'RSP012', 'RSP013', 'RSP014', 'RSP015', 'RSP016', 'RSP017',
       'SKN001', 'SKN002', 'SKN003', 'SKN004', 'SKN005', 'SKN006', 'SKN007',
       'SYM001', 'SYM002', 'SYM003', 'SYM004', 'SYM005', 'SYM006', 'SYM007',
       'SYM008', 'SYM009', 'SYM010', 'SYM011', 'SYM012', 'SYM013', 'SYM014',
       'SYM015', 'SYM016', 'SYM017', 'SYM018', 'procedure_ct',
       'days_since_last_proc', 'A01AA', 'A01AB', 'A01AC', 'A01AD', 'A02AA',
       'A02AB', 'A02AC', 'A02AF', 'A02AH', 'A02BA', 'A02BB', 'A02BC', 'A02BD',
       'A02BX', 'A03AA', 'A03AX', 'A03BA', 'A03CB', 'A03FA', 'A04AA', 'A04AD',
       'A05AA', 'A06AA', 'A06AB', 'A06AC', 'A06AD', 'A06AG', 'A06AH', 'A06AX',
       'A07AA', 'A07BA', 'A07BB', 'A07DA', 'A07EA', 'A07EB', 'A07EC', 'A09AB',
       'A10AB', 'A10AC', 'A10AD', 'A10AE', 'A10BA', 'A10BB', 'A10BG', 'A10BJ',
       'A10BK', 'A10BX', 'A11CA', 'A11CC', 'A11DA', 'A11GA', 'A11HA', 'A12AA',
       'A12BA', 'A12CA', 'A12CB', 'A12CC', 'A14AA', 'A16AA', 'A16AB', 'A16AX',
       'B01AA', 'B01AB', 'B01AC', 'B01AD', 'B01AE', 'B01AF', 'B01AX', 'B02AA',
       'B02BA', 'B02BC', 'B02BD', 'B02BX', 'B03AA', 'B03AB', 'B03AC', 'B03BA',
       'B03BB', 'B03XA', 'B05AA', 'B05BA', 'B05BB', 'B05BC', 'B05CA', 'B05CB',
       'B05CX', 'B05XA', 'B06AA', 'B06AB', 'B06AC', 'C01AA', 'C01BA', 'C01BB',
       'C01BC', 'C01BD', 'C01CA', 'C01CE', 'C01CX', 'C01DA', 'C01EB', 'C02AB',
       'C02AC', 'C02CA', 'C02DB', 'C02DC', 'C02DD', 'C02KX', 'C03AA', 'C03BA',
       'C03CA', 'C03CC', 'C03DA', 'C03DB', 'C03XA', 'C04AD', 'C04AX', 'C05AA',
       'C05AD', 'C05AE', 'C05AX', 'C05BB', 'C07AA', 'C07AB', 'C07AG', 'C08CA',
       'C08DA', 'C08DB', 'C09AA', 'C09CA', 'C09XA', 'C10AA', 'C10AB', 'C10AC',
       'C10AX', 'D01AA', 'D01AC', 'D01AE', 'D01BA', 'D02AC', 'D02AX', 'D03BA',
       'D04AA', 'D04AB', 'D05AX', 'D06AA', 'D06AX', 'D06BA', 'D06BB', 'D06BX',
       'D07AA', 'D07AB', 'D07AC', 'D07AD', 'D07CB', 'D08AG', 'D08AL', 'D08AX',
       'D10AB', 'D10AD', 'D10AE', 'D10AF', 'D11AA', 'D11AC', 'D11AH', 'D11AX',
       'G01AD', 'G01AF', 'G01AG', 'G02AB', 'G02AD', 'G02CB', 'G03AA', 'G03AC',
       'G03AD', 'G03BA', 'G03CA', 'G03DA', 'G03DC', 'G03XA', 'G03XC', 'G04BD',
       'G04BE', 'G04BX', 'G04CA', 'G04CB', 'H01BA', 'H01BB', 'H01CB', 'H02AA',
       'H02AB', 'H03AA', 'H03BA', 'H03BB', 'H03CA', 'H04AA', 'H05BA', 'H05BX',
       'J01AA', 'J01CA', 'J01CE', 'J01CF', 'J01CR', 'J01DB', 'J01DC', 'J01DD',
       'J01DE', 'J01DF', 'J01DH', 'J01DI', 'J01EA', 'J01EC', 'J01FA', 'J01FF',
       'J01GB', 'J01MA', 'J01XA', 'J01XB', 'J01XD', 'J01XE', 'J01XX', 'J02AA',
       'J02AB', 'J02AC', 'J02AX', 'J04AA', 'J04AB', 'J04AC', 'J04AK', 'J04BA',
       'J05AB', 'J05AC', 'J05AD', 'J05AE', 'J05AF', 'J05AG', 'J05AH', 'J05AJ',
       'J05AP', 'J05AR', 'J05AX', 'J06BA', 'J06BB', 'J06BD', 'J07AG', 'J07AH',
       'J07AJ', 'J07AM', 'J07BB', 'J07BC', 'J07BG', 'L01AA', 'L01AB', 'L01AC',
       'L01AD', 'L01AX', 'L01BA', 'L01BB', 'L01BC', 'L01CA', 'L01CB', 'L01CD',
       'L01CE', 'L01DA', 'L01DB', 'L01DC', 'L01EB', 'L01EG', 'L01EL', 'L01EM',
       'L01EX', 'L01FA', 'L01FC', 'L01FD', 'L01FE', 'L01FG', 'L01FX', 'L01XA',
       'L01XG', 'L01XH', 'L01XK', 'L01XL', 'L01XM', 'L01XX', 'L01XY', 'L02AE',
       'L02BA', 'L02BB', 'L02BG', 'L03AA', 'L03AC', 'L03AX', 'L04AA', 'L04AB',
       'L04AC', 'L04AD', 'L04AG', 'L04AH', 'L04AJ', 'L04AK', 'L04AX', 'M01AB',
       'M01AC', 'M01AE', 'M01AX', 'M01CC', 'M02AA', 'M02AB', 'M02AC', 'M03AB',
       'M03AC', 'M03BA', 'M03BC', 'M03BX', 'M03CA', 'M04AA', 'M04AB', 'M04AC',
       'M05BA', 'M05BX', 'N01AH', 'N01AX', 'N01BA', 'N01BB', 'N01BX', 'N02AA',
       'N02AB', 'N02AE', 'N02AF', 'N02AJ', 'N02AX', 'N02BA', 'N02BE', 'N02BF',
       'N02CA', 'N02CC', 'N03AA', 'N03AB', 'N03AE', 'N03AF', 'N03AG', 'N03AX',
       'N04AA', 'N04AC', 'N04BA', 'N04BB', 'N04BC', 'N04BD', 'N04BX', 'N05AA',
       'N05AB', 'N05AC', 'N05AD', 'N05AE', 'N05AF', 'N05AH', 'N05AN', 'N05AX',
       'N05BA', 'N05BB', 'N05BE', 'N05CA', 'N05CD', 'N05CF', 'N05CH', 'N05CM',
       'N06AA', 'N06AB', 'N06AF', 'N06AX', 'N06BA', 'N06DA', 'N06DX', 'N07AA',
       'N07AB', 'N07AX', 'N07BA', 'N07BB', 'N07BC', 'P01AB', 'P01AX', 'P01BA',
       'P01BB', 'P01BD', 'P01CX', 'P02BA', 'P02CF', 'P03AB', 'P03AC', 'PR_99',
       'R01AA', 'R01AC', 'R01AD', 'R01AX', 'R01BA', 'R02AD', 'R03AC', 'R03AK',
       'R03AL', 'R03BB', 'R03CC', 'R03DA', 'R03DC', 'R03DX', 'R05CA', 'R05CB',
       'R05DA', 'R05DB', 'R06AA', 'R06AB', 'R06AE', 'R06AX', 'S01AA', 'S01AB',
       'S01AD', 'S01AE', 'S01BA', 'S01BC', 'S01CA', 'S01EA', 'S01EB', 'S01EC',
       'S01ED', 'S01EE', 'S01FA', 'S01FB', 'S01HA', 'S01XA', 'S02CA', 'V03AB',
       'V03AC', 'V03AE', 'V03AF', 'V03AX', 'V04CC', 'V04CF', 'V04CG', 'V04CK',
       'V06DC', 'V07AB'],
      dtype='object')